* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 50px;
  background: linear-gradient(#03a9f4, #03a9f4 35%, #fff 30%, #fff 100%);
}

img {
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  transform: translate(100px,90px);
  border:3px solid white;
}

.detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 230px;
  text-align: center;
  border-bottom: lightslategray 1px;
}

.name-age {
  position: absolute;
  width: 50%;
  left: 60px;
  bottom:20px;
  display: flex;
  justify-content: space-around;
}

h3 {
  font-weight: lighter;
}

footer {
  position: absolute;
  width: 100%;
  top: 310px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  border-top: gray;
}

.followers, .likes, .photos {
  text-align: center;
  margin: 20px;
}